/*Pagina de Gramatica*/

html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #DDD;
}

.titulo-principal {

    padding: 20px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.cabecalho {
    font-family: Helvetica;
    background-color: #3e48a350;
    padding: 10px;
    text-align: center;
}



/*Página de Interpretação de texto*/


.cabecalho-interpretacao-01 {
    text-align: left;
    padding: 20px;
    font: size 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    
.paragrafo-principal-01 {
    text-align: center;
    padding: 0%;
    margin: 5%;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
