/*Pagina de Gramatica*/

html {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #DDD;
}

.cabecalho {
    background-color: #3e48a350;
    padding: 1.5rem;
    text-align: center;
    text-align: left;
    font: size 20px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.texto {
text-align: center;
}

.paragrafo-principal {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo-principal {

    padding: 20px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}



/*Página de Interpretação de texto*/


.cabecalho-interpretacao-01 {
    background-color: #3e48a350;
    padding: 1.5rem;
    text-align: center;
    text-align: left;
    font: size 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

    
.paragrafo-principal-01 {
    text-align: center;
    padding: 0%;
    margin: 2%;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* strong {
    font-size:25px;
    font-family:Arial, Helvetica, sans-serif
}

.topicos-01 {
    
   font-size: 20px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
